<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- To enable JMX Managment -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%logger{0} - %msg%n</pattern>
      <!--      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
		</encoder>
	</appender>

	<logger name="com.chariotsolutions" level="debug" />
	<logger name="org.springframework" level="warn" />
    <logger name="org.springframework.amqp" level="debug"/>

    <!--<logger name="org.springframework.batch" level="debug"/>-->
    <!--<logger name="org.springframework.integration" level="debug"/>-->
    <!--<logger name="com.springsource.batch" level="debug"/>-->

	<!--<logger name="org.springframework.beans" level="debug" />-->
	<!--<logger name="org.springframework.transaction" level="warn" />-->
	<!--<logger name="org.springframework.orm" level="warn" />-->
	<!--<logger name="org.springframework.dao" level="debug" />-->

	<root level="warn">
		<appender-ref ref="console" />
	</root>
</configuration>
